<!DOCTYPE html>
<html>
<head>
	<title>Final implementación - Rectangulo</title>
</head>
<style>
html,body {
  height:100%;
  width:100%;
  margin:0;
}
body {
  display:flex;
}
form {
  margin:auto;/* nice thing of auto margin if display:flex; it center both horizontal and vertical :) */
}
input:invalid {
  border: 2px dashed red;
}
input:valid {
  border: 1px solid black;
}
input:invalid:required {
  border: 1px solid greenyellow;
}
</style>

<body>
    <form action="" method="POST">
        {% if error %}
        <label style="color:red" for="fname">Error: {{ error }}</label><br><br>
        {% endif %}
        <label for="fname">Ingresar lados rectangulo:</label><br><br>
        <input id="l1" name="l1"><br><br>
        <input id="l2" name="l2"><br><br>
        <input type="submit" value="Ejecutar">
    </form>
</body>
</html>
